.toast {
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	display: flex;
	align-items: center;
	padding: 0 5px;
	min-width: 120px;
	transition: top 0.5s ease;
}

.toast .icon {
	width: 20px;
	height: 20px;
	background-color: pink;
	margin-right: 10px;
	border-radius: 50%;
}

.toast .success {
	background-color: greenyellow;
	border: 1px solid greenyellow;
}

.toast .error {
	background-color: red;
	border: 1px solid red;
}

.show {
	top: 50px;
}

.close {
	top: -30px;
}
